<section class='home flex-column'>
  <h1>Snapscan</h1>
  <div class='flex-column'>
    <%=link_to "LOG IN", new_user_session_path, class: "log"%>
    <%=link_to "SIGN UP", new_user_registration_path%>
  </div>
</section>